<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=localhost;Initial Catalog=AirQualityMetricsDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
		<add key="FolderPath" value="..\..\..\..\そらまめくん_ZipFiles"/>
		<add key="WorkFolderPath" value=".\Work"/>
		<add key="測定局一覧データファイルパス" value=".\..\..\..\..\そらまめくん_測定局\そらまめくん測定局一覧.csv"/>
		<add key="測定局一覧都道府県データファイルパス" value=".\..\..\..\..\そらまめくん_測定局\そらまめくん測定局一覧_都道府県.csv"/>
	</appSettings>
</configuration>
